h3{
    color: #088A29;
    margin-bottom: 0px;
    margin-top: 0px;
}

.container{
  padding-left: 10%;
}

font{
	font-weight: bold;
	font-size: 120%;
	background-color: yellow;
}

div p:first-child{
  color: blue;
  background-color: yellow;
}

.item{
  margin: 10px;
  background-color: #F5FBEF;
}

hr{
    border:0; height:1px; background-color:#088A29;
}

div p{
	display: none;
}

#nav {
    width: 200px;
    position:fixed;
    margin-top: 100px;
}

#content {
    width: 750px;
    float:left;
    margin-top: 100px;
    margin-left: 200px;
}

#nav li{
    display:block;
    background-color:darkorange;
    margin-top: 5px;
    padding: 5px;
    text-align: center;
    box-shadow: 1px 1px 2px gray;
}
#nav li:hover{
    box-shadow: 2px 2px 4px gray;
}
#nav li a{
    color: white;
    text-decoration: none;


}

.searchkeyword{
    color: white;
    background-color: #FE2EC8;
}
